.questionFeatureWrapper {
  width: 80%;
  margin: 0 auto;
}
/* Wrapper for the entire question feature form */
.questionFeatureWrapper form {
  display: flex;
  flex-direction: column;
}
/* When # of character is negative, turns text red.*/
.isRed {
  color: red;
}
/* hides reset button when no text */
.doNotShowButton {
  display: none;
}
/* displays reset button when text in box */
.showButton {
  display: block;
}

/* When button is greyed out */

.greyedOut {
  opacity: 0.5;
}

/* text input beautification */
.questionBox {
  margin: 0.3rem;
  resize: none;
  border-color: var(--purple);
  background-color: var(--mid-grey);
  border-radius: 5px;
}

.questionBox::placeholder {
  font-family: "Reddit Sans";
  font-size: 1rem;
  padding: 0.2rem;
}

.charRemainingContainer {
  font-style: italic;
  margin: 1rem 0;
}

@media (min-width: 768px) {
  .questionFeatureWrapper {
    width: 50%;
  }
}
