.aboutNav {
  background-color: var(--purple);
  font-family: "Roboto", sans-serif;
  width: 100%;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  padding: 0.75rem;
  text-shadow: 2px 2px 5px black;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style-type: none;
  color: var(--white);
  margin: 0 0 3.571rem 0;
  flex-direction: column;
}

.inactive {
  opacity: 50%;
  font-weight: 400;
  text-shadow: 0 0 0 transparent;
}

.aboutTabs {
  letter-spacing: 0.2rem;
}

@media (min-width: 768px) {
  .aboutNav {
    font-size: 1.25em;
  }

  .container {
    flex-direction: row;
  }
}
