.header {
  background: var(--header-grad);
  color: var(--white);
  padding: 20px 20px 50px 20px;
  position: relative;
}

@media (min-width: 768px) {
  .header {
    height: 600px;
    display: grid;
    align-items: start;
    max-width: 1652px;
  }
}

.logoNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Remove active black color from anchor tags */

a:-webkit-any-link {
  color: white;
  text-decoration: none;
}
