.main {
  color: var(--dark-grey);
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.h2 {
  color: var(--black);
}

.span {
  color: var(--purple);
  display: block;
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.hr {
  display: none;
}

.img {
  margin: 25px auto;
  display: block;
  width: 100%;
  border-radius: 10px;
}

.card {
  text-align: center;
  margin: 15px 0;
}

@media (min-width: 768px) {
  .hr {
    display: block;
  }

  .hero {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  .img {
    align-self: center;
    margin: 0;
    height: 100%;
    width: 55%;
    object-fit: contain;
  }

  .heroText {
    width: 40%;
  }

  .cardSection {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin: 15px 0;
  }
}
