.productsContainer {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.productsList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 35px;
}

@media (min-width: 768px) {
  .productsList {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .productsContainer {
    padding: 50px;
  }
}
