.productsContainer {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.productsList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.loading {
  text-align: center;
}

@media (min-width: 768px) {
  .productsList {
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }
  .productsContainer {
    padding: 3rem;
  }
}
