.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutTeamWrapper {
  display: none;
}

.aboutTeamSmall {
  width: 80%;
  margin: 0 auto;
}

.img {
  display: none;
}

.mobileImg {
  width: 90%;
  margin: 25px auto;
  display: block;
}

.bible {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 1.5rem;
  background: linear-gradient(red, blue);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (min-width: 768px) {
  .img {
    display: flex;
  }
  .aboutTeamWrapper {
    display: flex;
    flex-direction: row;
    margin: 5%;
    align-items: start;
    overflow-wrap: normal;
  }
  .aboutTeamLeft {
    margin: 5%;
    width: 50%;
    height: 100%;
  }
  .aboutTeamRight {
    margin: 5%;
    width: 50%;
    height: 100%;
  }

  .aboutTeamSmall {
    display: none;
  }
}
