.card {
  border: 1px solid var(--mid-grey);
  /* MAY NEED CHANGING */
  max-height: 7rem;
  overflow: scroll;
  padding: 0.5rem;
  box-shadow: 2px 2px 5px var(--mid-grey);
}

@media (min-width: 768px) {
  .card {
    overflow: hidden;
  }
}
